
.form {
    @include e(label) {
        @include m(hidden) {
            @extend %srt;
        }
    }
    
    @include e(input) {
        width: 85%;
        color: $grey;
        font-size: px(17px);
        font-weight: $font-wt-bold;  
        padding: px(10px);
        margin: 0 px(20px);
        border: none;
        border-bottom: 6px solid $primary-color;
        &:hover {
           background-color: $primary-color;
        }
    }
}
